
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common styles */
.button-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
body{
    background-color: #f5f8ff;
    
}
.font-primary{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
/* header styles */

header{
    
    
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    /* width: 1140px; */
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 255px;
    

}

.nav-logo{
    color: #4E47FF;
    font-weight:800px;
    font-size: 34px;
    font-family: ;
}
.banner{
   width: 905px;
   height: 237px;
   margin: 0 auto;
   padding-bottom: 100px;
   
}
.banner-heading{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
.banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* main styles */

/* action styles */
.action{
    width: 1140px;
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 95px auto;
}
.div-one{
    text-align: left;
    width: 517px;
    height: 203px;
    margin-bottom: 62px;
    
    
}
.div-one p{
    font-size: 24px;
    color: #757575bb;
}
.div-one h3{
    margin-bottom: 23px;
}


.image{
    border-radius: 48px;
    width: 100%;
    height: 100%;
}

/* users styles */
.user-details .user-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-number{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}
.user-details-heading{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 50px;
    

}
.user-details{
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    margin-top: 116px;
    background-color: hsla(242, 100%, 64%, 0.125);
    border-radius: 15px;
}
 .user-description{
    color: #757575;
    margin-top: 0px;
    
}

/* user rating style */
.user-rating{
    width: 1140px;
    height: 342px;
    margin: 137px auto;

}
.review-card{
    width: 370px;
    width: 243px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 24px;
    
}
.review-heading{
    margin-bottom: 15px;
}
.review-description{
    padding-right: 5px;
    font-size: small;
    margin-top: 0px;
}
.reviewer-details{
    display: flex;
    align-items: center;
    gap: 12px;

}
.reviewer-details img{
    border-radius: 50%;
}
.reviewer-details input{
    border: none;
}
.review-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
/* get start section */
.get-start{
    width: 1140px;
    height: 696px;
    margin: 137px auto;
    background-color: #ffffff;
    /* padding: 70px 150px; */
    padding-top: 50px;

}
.get-start-heading{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    
}
.get-start-heading-description{
    text-align: center;
    margin-top: 0px;
}
.get-start-pic{
    width: 840px;
    height: 364px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    
}
.get-start-pic img{
    border-radius: 20px;
}
.get-start-button{
    display: flex;
    justify-content: center;
}
/* form style */
.form-section{
    max-width: 1140px;
    width: 100%;
    height: 632px;
    margin: 92px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}
.form-create{
    width: 100%;
    max-width: 497px;
   
}
.heading-description{
    width: 528px;
    height: 232px;
    font-size: 97px;
    font-weight: bold;
    margin-right: 0 auto;

}
.form-create input{
    width: 497px;
    height: 70px;
    width: 96%;
    /* padding-left: 32px; */
    border: none;
    border-radius: 5px;
     padding: 0 20px;
     outline: none;
     margin-bottom: 24px;
     margin-top: 10px;
     font-size: 16px;
}
.form-create textarea{
    width: 497px;
    height: 120px;
    width: 96%;
    /* padding-left: 32px; */
    border: none;
    border-radius: 5px;
     padding: 20px 20px;
     outline: none;
     margin-bottom: 20px;
     margin-top: 10px;
     font-size: 16px;
}
.form-create label{
    font-size: 18px;
    font-weight: bold;
}
.form-create button{
    width: 104%;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}
/* .form-create footer, input ,textarea{
    height: 64px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
   margin-bottom: 24px;
   width: 100%;
   font-size: 20px;
   border: none;
   box-shadow: 0px 10px 10px 0.6px rgba(176, 170, 170, 0.304);
}
.button-getin{
    display: inline-block;
    margin-right: 20px;
    width: 100%;
} */
